@import url(first-screen__logo-menu.css);
@import url(first-screen__title.css);
@import url(first-screen__subtitle.css);

.first-screen {
    width: 100%;
    height: 740px;
    background-image: url(../images/first-screen.jpg);
}