.numbers__text-3 {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999;
    margin: 0 auto;
}