.numbers__text-1 {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #f7654a;
    margin: 0 auto;
}